body {
    margin: 0;
}

.ladingPageContainer {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchButton {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

/* Style for the weather information box */
.afterSearchWeather {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

/* Style for the main temperature text */
#currentTemp {
    font-size: 36px;
    font-weight: bold;
}

/* Style for the smaller text below the main temperature */
#cityNameCountry,
#weatherWarningMessage,
#textIcon {
    font-size: 16px;
    margin-top: 10px;
}

/* Style for making the elements inline after search */
.inline-container {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap; /* Allow elements to wrap to the next line if needed */
}
