body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#searchButton {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

/* Styles for the main weather display and temperature messages */
#afterSearchWeather {
    display: none;
    background-color: #7783c1;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    text-align: center;
    max-width: 400px;
}

#currentTemp {
    font-size: 36px;
    font-weight: bold;
}

#cityNameCountry,
#weatherWarningMessage,
#textIcon {
    font-size: 25px;
    margin-top: 10px;
}

/* Styles for the weather container */
#weatherContainer {
    display: none; /* Initially hide the weather container */
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
}

/* Styles for the parent container of future weather boxes */
#futureWeatherContainer {
    display: flex; /* Use flexbox to arrange items in a row */
    justify-content: center; /* Center the items horizontally */
    
}

/* Styles for the future weather boxes */
.future-day {
    background-color: #7783c1;
    /* padding: 10px; */
    border-radius: 10px;
    margin-right: 10px;
    /* text-align: center; */
    /* max-width: 250px; */
    padding-left: 60px;
    padding-right: 60px;
}


/* Styles for temperature message colors */
.hot-message {
    color: #ff6347;
}

.moderate-message {
    color: #ffd700;
}

.cold-message {
    color: #4169e1;
}




#displayHottestDay {
    font-size: 24px;
    font-weight: bold;
    color: #ff6347; /* Red color for emphasis */
    margin-top: 20px;
    padding: 10px; /* Add padding to create spacing around the text */
}

/* Media query for small screens to wrap the future weather boxes */
@media (max-width: 768px) {
    #futureWeatherContainer {
        flex-wrap: wrap; /* Wrap the items for small screens */

    }
    #afterSearchWeather {
        max-width: 300px; /* Reduce maximum width for small screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }

    .future-day {
        margin-right: 0; /* Remove right margin for wrapped items */
        margin-bottom: 10px; /* Add bottom margin for wrapped items */
    }
}
